---
import Link from "@/components/ui/link";
import Lightbox from "@/components/ui/lightbox";
import type { CollectionEntry } from "astro:content";
import TechnologyBadge from "./TechnologyBadge";
import { useTranslations } from "@/i18n/utils";
import { Picture } from "astro:assets";
import Card from "../ui/card";

interface Props {
  project: CollectionEntry<"projects">;
  lang: "en" | "es" | "cat" | "de";
}

const { project, lang } = Astro.props;
const t = useTranslations(lang);
---

<Link
  client:load
  lang={lang}
  href={`/projects/${project.id.split("/")[1]}`}
  ignoreClass={true}
>
  <Card className="h-[350px]">
    {
      project.data.headerImage && (
        <div class="relative mx-auto h-[200px] w-full items-center justify-center overflow-hidden">
          <Picture
            fit="cover"
            formats={["avif", "webp"]}
            src={project.data.headerImage.src}
            alt={project.data.headerImage.alt}
            width={600}
            height={350}
            class="pointer-events-none transition-transform duration-200 ease-in-out group-hover:scale-110"
          />
        </div>
      )
    }
    <div class="flex w-full flex-1 flex-col items-center justify-between py-2">
      <div class="flex flex-col items-center justify-center gap-1">
        <span class="text-sm">{project.data.year}</span>
        <div class="flex flex-wrap gap-2 text-sm text-zinc-500">
          {
            project.data.technologies.map((technology) => (
              <TechnologyBadge
                client:load
                technology={technology as Technology}
              />
            ))
          }
        </div>
        <h3 class="text-2xl font-semibold">{project.data.name}</h3>
      </div>
      <p class="w-3/4 text-center">{project.data.description}</p>
    </div>
  </Card>
</Link>
